langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-huggingface
langchain-google-genai
langgraph
sentence-transformers
faiss-cpu
pypdf
python-dotenv
fastapi
uvicorn
streamlit